/* Global */
:root {
  
  /* Color */
--color-white: #ffffff;
--color-dark-white: #bdbdbd;
--color-primary-blue: #2962ff;
--color-light-blue: #768fff;
--color-dark-blue: #0039cb;
--color-grey: #4d4d4d;
--color-dark-grey: #616161;
--color-light-grey: #eeeeee;
--color-yellow: #fff7d1;
--color-orange:#feb546;
--color-black: #000000;

/* Font size */
--font-large: 48px;
--font-medium: 28px;
--font-regular: 20px;
--font-small: 16px;
--font-micro: 14px;

/* Font weight */
--weight-bold: 700;
--weight-semi-bold: 600;
--weight-regular: 400;

/* Size */
--size-border-radius: 4px;

/* Animation */
--animation-duration: 300ms ;
}

/* Universal tag */
* { box-sizing: border-box; }

button { 
  cursor: pointer; 
  border: none; 
  outline: none; 
  margin-bottom: 10px;
  width: 100px;
  height: 40px;
  border: 1px solid var(--color-grey);
  border-radius: var(--size-border-radius);
  background-color: var(--color-primary-blue);
  color: white;
}

/* page header */
.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.icon {
  margin: 0 10px;
}
.navbar {
  padding: 16px;
}
.navbar__menu {
  font-weight: var(--weight-regular);
  padding: 13px;
}
.header__menu__item {
  text-decoration: none;
  color: var(--color-dark-blue);
  font-weight: var(--weight-bold);
  margin: 0 19px;
}
.navbar__menu__item {
  text-decoration: none;
  padding: 16px;
  color: inherit;
}
.login__btn {
  border-radius: 25px;  
  font-weight: var(--weight-bold);
}
.navbar__menu__item:hover {
  color: var(--color-primary-blue);
  border-radius: 25px;
  transition: all var(--animation-duration) ease-in;
  opacity: 0.8;
}

/* home page */
.home {
  background-color: var(--color-light-blue);
  margin: auto;
  width: 80vw;
  height: 80vh;
}

/* board page */
.board {
  /* background-color: beige; */
  width: 80%;
  height: 80vh;
  margin: auto;
}